* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #777777;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    color: #003DA5;
    text-align: center;
    margin-bottom: 20px;
}


form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 12px 20px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 2px solid #bbbbbb;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #003DA5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5B77CC;
}

table {
    border-collapse: separate;
    border-spacing: 5px; /* Adjust this value to change the spacing between cells */
    width: 100%;
    margin-bottom: 20px;
    margin: 1em auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}

th {
    background-color: #003DA5; /* Change the background color to a more interesting color */
    color: #FFFFFF; /* Change the font color to white for better contrast */
    font-weight: bold;
    border-radius: 5px; /* Add rounded corners to header cells */
    text-align: center
}

tr:nth-child(even) {
    background-color: #bbbbbb;
    color: #FFFFFF;
} 

tr:nth-child(odd) {
    background-color: #979797;
    color: #FFFFFF;
}

tr:hover {
    background-color: #ddd;
}

/* Add these styles for the modal */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-btn {
    background-color: #003DA5;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Change to inline-block for horizontal layout */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.thumbs-up {
    margin-left: 5px;
}

.workflow-step-cell {
    display: flex;
    flex-wrap: wrap;
}

.like-btn {
    margin: 2px;
}

td {
    border: none;
}

.workflow-inner-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.task-table td {
    border: none;
    padding: 8px;
    vertical-align: middle;
}

/* Add this CSS rule to display buttons horizontally */
td > .like-btn {
    display: inline-block;
    margin-right: 5px;
}

td.button-container > .like-btn {
    display: inline-block;
    margin-right: 5px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hover-menu {
    display: none;
    position: absolute;
    color: rgb(91, 91, 91);
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    user-select: text;
}

.like-btn:hover .hover-menu {
    display: block;
}

#hover-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.task-context-menu {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    position: absolute;
    z-index: 100;
}

.task-context-menu li {
    cursor: pointer;
    padding: 5px;
}

.task-context-menu li:hover {
    background-color: #f0f0f0;
}

.like-btn.upvoted .thumbs-up {
    color: #007bff; /* Change this to your preferred color when upvoted */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: Set a height for the container */
    max-width: 100%;
    height: auto;
}

.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}