<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Open Source Task Table</h1>
        <form id="task-form">
            <input type="text" id="task-input" name="task" placeholder="Enter a new task" required autocomplete="off">
            <input type="submit" value="Add Task">
        </form>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/Data Scientist Workflow.png') }}" alt="Data Scientist Workflow"/>
    </div>
    <div class="instructions-container">
        <p>**Click inside the cells to make submissions**     **Right click to edit or delete submissions**     **Click button to upvote submissions**</p>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Workflow Step</th>
                    <th>Tools</th>
                    <th>ChatGPT Prompts</th>
                    <th>Influential Research</th>
                </tr>
            </thead>
            <tbody id="task-table-body">
                {% for task_data in tasks_data %}
                    <tr>
                        <td data-task-id="{{ task_data.task.id }}">{{ task_data.task.task_name }}</td>
                        <td class="button-container workflow-step-container">
                            {% for workflow_step in task_data.workflow_steps['workflow_step'] %}
                            <button class="like-btn" data-workflow-step-id="{{ workflow_step.id }}" data-workflow-step-name="{{ workflow_step.name }}" data-workflow-category="{{ workflow_step.category }}">
                                {{ workflow_step.name }} <span class="thumbs-up">👍 {{ workflow_step.likes }}</span>
                            </button>
                            {% endfor %}
                        </td>
                        <td class="button-container workflow-step-container">
                            {% for workflow_step in task_data.workflow_steps['tools'] %}
                            <button class="like-btn" data-workflow-step-id="{{ workflow_step.id }}" data-workflow-step-name="{{ workflow_step.name }}" data-workflow-category="{{ workflow_step.category }}" data-github-url="{{ workflow_step.github_url }}" data-tool-description="{{ workflow_step.tool_description }}" data-huggingface-url="{{ workflow_step.huggingface_url }}">
                                {{ workflow_step.name }} <span class="thumbs-up">👍 {{ workflow_step.likes }}</span>
                            </button>
                            {% endfor %}
                        </td>
                        <td class="button-container workflow-step-container">
                            {% for workflow_step in task_data.workflow_steps['chatgpt_prompts'] %}
                            <button class="like-btn" data-workflow-step-id="{{ workflow_step.id }}" data-workflow-step-name="{{ workflow_step.name }}" data-workflow-category="{{ workflow_step.category }}" data-chatgpt-prompt="{{ workflow_step.chatgpt_prompt }}">
                                {{ workflow_step.name }} <span class="thumbs-up">👍 {{ workflow_step.likes }}</span>
                            </button>
                            {% endfor %}
                        </td>
                        <td class="button-container workflow-step-container">
                            {% for workflow_step in task_data.workflow_steps['influential_research'] %}
                            <button class="like-btn" data-workflow-step-id="{{ workflow_step.id }}" data-workflow-step-name="{{ workflow_step.name }}" data-workflow-category="{{ workflow_step.category }}" data-github-url="{{ workflow_step.github_url }}" data-research-description="{{ workflow_step.research_description }}" data-research-url="{{ workflow_step.research_url }}">
                                {{ workflow_step.name }} <span class="thumbs-up">👍 {{ workflow_step.likes }}</span>
                            </button>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="work-flow-input-container" class="custom-modal">
            <div class="custom-modal-content">
                <h3 id="modal-title"></h3>
                <select id="work-flow-input">
                    <option value="">Select a workflow step</option>
                    <option value="Data Acquisition">Data Acquisition</option>
                    <option value="Data Exploration">Data Exploration</option>
                    <option value="Data Pre-Processing">Data Pre-Processing</option>
                    <option value="Modeling">Modeling</option>
                    <option value="Reporting">Reporting</option>
                    <option value="Deployment">Deployment</option>
                </select>
                <input type="text" id="name-input" placeholder="Enter Name" style="display: none;" autocomplete="off">
                <input type="text" id="tool-description-input" placeholder="Enter Description (optional)" style="display: none;" autocomplete="off"> <!-- Add this line -->
                <input type="text" id="huggingface-url-input" placeholder="Enter HuggingFace URL (optional if exists)" style="display: none;" autocomplete="off"> <!-- Add this line -->
                <input type="text" id="github-url-input" placeholder="Enter GitHub URL (optional if exists)" style="display: none;" autocomplete="off"> <!-- Add this line -->
                <input type="text" id="chatgpt-prompt-input" placeholder="Enter ChatGPT Prompt" style="display: none;" autocomplete="off"> <!-- Add this line -->
                <input type="text" id="research-description-input" placeholder="Enter Description (optional)" style="display: none;" autocomplete="off"> <!-- Add this line -->
                <input type="text" id="research-url-input" placeholder="Enter Research URL" style="display: none;" autocomplete="off"> <!-- Add this line -->
                <button id="submit-work-flow">Submit</button>
            </div>
        </div>
    </div>
    <script src="/static/scripts.js" defer></script>
</body>
</html>