<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <style>body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    </style>
</head>
<body>
    <h1 style="color:#003DA5">Instructions</h1>
    <!-- Add your instructions content here -->
    <ol>
        <li> Input task and click the "Add Task" button
            <ul> 
                <li>Add any task that is a part of your daily workflow that utilizes open source tools or is made easier with a specific chatGPT prompt</li>
            </ul> 
        </li>
        <li> Click in the Workflow Step cell to bring up the Workflow Step drop-down menu 
            <ul> 
                <li>Generalize a workflow step for your task</li>
            </ul> 
        </li> 
        <li> Click in the Tools cell to bring up the Tools input menu
            <ul> 
                <li>Add the open source tool, a description if you can, and any associated links to GitHub or HuggingFace</li>
            </ul>
        </li>
        <li> Click in the ChatGPT Prompts cell to bring up the ChatGPT Prompt input menu
            <ul> 
                <li>Add a helpful ChatGPT prompt for your task and give it a short descriptive name</li>
            </ul>
        </li>
        <li> Click in the Research/Resources cell to bring up the Research/Resources input menu
            <ul> 
                <li>Add any influential research or helpful resources such as tutorials or guides and provide the associated descriptions and links, if possible</li>
            </ul>
        </li>
        <li> Click any buttons that you use or find useful to upvote the submission, including any submissions made by you</li>
        <li> Right-click the task cell to edit or delete a task submission</li>
        <li> Right-click any button to edit or delete it</li>
    </ol>

    <a href="/">To Table</a>
</body>
</html>